
html {
    height: 100%;
    background: rgb(12, 93, 150);
    text-align: center;
}

body {
    margin: auto;
}

.navigation_bar{
    
    position: fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}
.navigation_buttons {
    display: flex;
    justify-content: center;
    min-width: 80%;
}
.nav_btn {
    background: var(--background_color);
    box-shadow: 0 0 10px var(--theme-color-light);
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    min-width: 100px;
}
.nav_btn:hover {
    background: var(--theme-color-light);
    box-shadow: 0 0px 20px var(--theme-color-light)
}
.user_profile_btn {
    display: flex;
    min-width: 20%;
}
.profile_btn {
    margin: auto;
}


