
:root {
    --background_color: transparent;
    --theme-color-light: rgb(101, 191, 255);
    --theme-color-dark: rgb(12, 93, 150);
    --border-color: rgb(255, 255, 255);
}

html {
    height: 100%;
    text-align: center;
}



body {
	background: linear-gradient(-45deg, var(--theme-color-light), var(--theme-color-dark), var(--theme-color-light), var(--theme-color-dark));
	background-size: 600% 600%;
	animation: gradient 12.5s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*
navigation bar
*/
.navigation_bar{
    
    position: fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}
.navigation_buttons {
    display: flex;
    justify-content: center;
    min-width: 80%;
}
.nav_btn {
    background: var(--background_color);
    box-shadow: 0 0 10px var(--theme-color-light);
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    min-width: 100px;
}
.nav_btn:hover {
    background: var(--theme-color-light);
    box-shadow: 0 0px 20px var(--theme-color-light)
}
.user_profile_btn {
    display: flex;
    min-width: 20%;
}
.profile_btn {
    margin: auto;
}