:root {
    --background_color: rgb(65, 65, 246);
}

html, body {
    margin: auto
}

.navigation_bar{
    
    position: fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    background: red;
}
.navigation_buttons {
    display: flex;
    justify-content: center;
    min-width: 80%;
    background: green;
}
.nav_btn {
    margin: auto;
    min-width: 100px;
}
.user_profile_btn {
    display: flex;
    background: yellow;
    min-width: 20%;
}
.profile_btn {
    margin: auto;
}
.title_container {
    background: var(--background_color);
    display: flex;
    height: 100vh;
}

.welcome {
    margin: auto;
    min-width: 80%;
    min-height: 80%;
    background: red;
    display: flex;
    flex-direction: column;
}

.user_log_buttons {
    margin: auto;
}
.form {
    position: absolute;
    visibility: hidden;
}
.form.visible {
    visibility: visible;
    position: fixed;
    background: yellow;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.our_vision_container {
    background: var(--background_color);
    height: 100vh;
}

.our_mission_container {
    background: var(--background_color);
    height: 100vh;
}

.marketing_container {
    height: 100vh;
}