:root {
    --background_color: transparent
}

html, body {
    margin: auto
}

.navigation_bar{
    
    position: fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}
.navigation_buttons {
    display: flex;
    justify-content: center;
    min-width: 80%;
}
.nav_btn {
    margin: auto;
    min-width: 100px;
}
.user_profile_btn {
    display: flex;
    min-width: 20%;
}
.profile_btn {
    margin: auto;
}
.title_container {
    background: var(--background_color);
    display: flex;
    height: 100vh;
}

.welcome {
    margin: auto;
    min-width: 80%;
    min-height: 80%;
    background: red;
    display: flex;
    flex-direction: column;
}

.user_log_buttons {
    margin: auto;
}

.form {
    position: absolute;
    visibility: hidden;
}
.form.visible {
    visibility: visible;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.popup-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    background: red;
}
form ul li {
    list-style-type: none;
}
.input {
    width: 50%;
    margin: 1% auto;
    border: none;
    padding: 5px;
    border-radius: 20px;
}
.our_vision_container {
    background: var(--background_color);
    height: 100vh;
}

.our_mission_container {
    background: var(--background_color);
    height: 100vh;
}

.marketing_container {
    height: 100vh;
}