{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}

<body>
   
    <!-- document title -->
    <div class="title_container">

        
        <div class="welcome">
            
            <div class="logo">
                <h1>
                    DENVIE CYBER CAFE
                </h1>
            </div>

            <div class="slogan">
                <h2>
                    Bringing our Cyber World to You
                </h2>
            </div>

            <div class="user_log_buttons">
                <a href="javascript:void(0)" id="log_btn">
                        {% for log in log %}

                        {{ log }}

                        {% endfor %}
                </a>
            </div>
            <div class="form" id="user_log_form">
                <form class="popup-form">
                    <button id="close_form" class="close_form_btn">
                        X
                    </button>

                    <button class="form_btn" onclick="login(document.getElementById('user_log_form'))">
                        login
                    </button>

                    <button class="form_btn" onclick="register(document.getElementById('user_log_form'))">
                        register
                    </button>
                </form>
            </div>

        </div>

    </div>

    <div class="about_us_container" id="our_mission_container">

        <div class="vision_mission_container">

            <div class="about-us-information_container" id="our_vision_container">
                <div class="about_us_cards">
                    <h2>
                        OUR VISION
                    </h2>
                    <P>
                        Our vision is to provide industry leading customer service.
                    </P>
                </div>
            </div>

            <div class="about-us-information_container" id="mission_container" >
                <div class="about_us_cards">
                    <h2>
                        OUR MISSION
                    </h2>
                    <p>
                        We are committed to creating an ecosystem uniting software, education, and community to help businesses grow with a conscience and succeed with a soul.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="marketing_container" id="services">
        
        <div class="our_services_container">

            <div class="cafe_services">

                <ul>
                    <!-- tying -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="typing_icon" class="material-symbols-outlined">
                                keyboard_alt
                            </a>
                        </div>

                        <div class="service_text" id="typing_form">
                            <div class="service_form">
                                <button id="close_typing_form">
                                    x
                                </button>
                                <div class="btns">
                                    <button onclick="assignment_form(document.getElementById('more_info_container'))">assignment</button>
                                    <button onclick="constitution_form(document.getElementById('more_info_container'))">constitution</button>
                                    <button onclick="resume_form(document.getElementById('more_info_container'))">resume</button>
                                    <button onclick="QuotationInvoice_form(document.getElementById('more_info_container'))">Quotation/Invoice</button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- it support -->
                    <li>
                        <div class="service_icon" >
                            <a href="javascript:void(0)" id="support_icon" class="material-symbols-outlined">
                                support_agent
                            </a>
                        </div>

                        <div class="service_text" id="support_form">
                            <form action="/submit_it_support/" method="POST" class="service_form">
                                <button id="close_support_form">
                                    x
                                </button>
                                <select type="text">
                                    <option value="nort"></option>
                                    <option value="threat_protection">threat protection</option>
                                    <option value="drivers">drivers</option>
                                    <option value="os_installation">os installation</option>
                                    <option value="office_installation">ms office</option>
                                    <option value="pwd_rest">pwd reset</option>
                                    <option value="performance_review">performance review</option>
                                </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                    <!-- online services -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="connectivity_icon" class="material-symbols-outlined">
                                signal_wifi_bad
                            </a>
                        </div>

                        <div class="service_text" id="connectivity_form">
                            <form action="/submit_online_service/" method="POST" class="service_form">
                                <button id="close_connectivity_form">
                                    x
                                </button>
                                <select type="text">
                                    <option value="nort"></option>
                                    <option value="psira_application">psira application & renewal</option>
                                    <option value="sassa_application">sassa application</option>
                                    <option value="school_application">school aplication</option>
                                    <option value="university_application">university application</option>
                                    <option value="sars_efiling">sars efiling</option>
                                </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                    <!-- computer booking -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="computer_icon" class="material-symbols-outlined">
                                computer
                            </a>
                        </div>

                        <div class="service_text" id="computer_form">
                            <form action="/submit_computer_booking/" method="POST" class="service_form">
                                <button id="close_computer_form">
                                    x
                                </button>
                                <select type="text">
                                </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                    <!-- scanning printing & photo copies -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="print_icon" class="material-symbols-outlined">
                                print
                            </a>
                        </div>

                        <div class="service_text" id="print_form">
                            <form action="/submit_printer_service/" method="POST" class="service_form">
                                <button id="close_print_form">
                                    x
                                </button>
                                <select type="text">
                                    <option value="nort"></option>
                                    <option value="print">print</option>
                                    </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                </ul>
                
            </div>
            
            <div class="more_information_container" >
                <div class="scrollable" id="more_info_container">
                    <div class="service_reviews">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate mi sit amet. Amet consectetur adipiscing elit ut. Nunc congue nisi vitae suscipit tellus mauris a. Ut pharetra sit amet aliquam id diam. Consequat interdum varius sit amet mattis vulputate enim nulla. Lorem dolor sed viverra ipsum nunc. Dolor magna eget est lorem ipsum dolor sit amet consectetur. Euismod lacinia at quis risus sed. Scelerisque felis imperdiet proin fermentum. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin.

                            <br>A arcu cursus vitae congue mauris rhoncus aenean. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Orci a scelerisque purus semper eget duis at. Lectus proin nibh nisl condimentum id venenatis. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Commodo nulla facilisi nullam vehicula ipsum a. Libero volutpat sed cras ornare arcu. Odio pellentesque diam volutpat commodo sed egestas. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Id velit ut tortor pretium. Turpis nunc eget lorem dolor sed viverra ipsum nunc. Cras semper auctor neque vitae tempus. Aliquet risus feugiat in ante metus dictum at tempor. Sed vulputate mi sit amet mauris commodo. Vulputate mi sit amet mauris. Morbi tristique senectus et netus et.
                            
                           <br> Velit ut tortor pretium viverra suspendisse potenti nullam. Mollis nunc sed id semper risus in hendrerit. Tortor at auctor urna nunc. Nunc id cursus metus aliquam eleifend mi. Diam donec adipiscing tristique risus nec feugiat in. Pharetra massa massa ultricies mi quis hendrerit. In pellentesque massa placerat duis ultricies lacus sed turpis. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut. In fermentum posuere urna nec. Commodo elit at imperdiet dui.
                            
                           <br> Non quam lacus suspendisse faucibus interdum posuere lorem. Velit sed ullamcorper morbi tincidunt ornare. Maecenas sed enim ut sem viverra aliquet. Condimentum lacinia quis vel eros donec ac odio tempor. Accumsan lacus vel facilisis volutpat est velit egestas dui. Sit amet venenatis urna cursus eget nunc scelerisque viverra. Blandit libero volutpat sed cras. Cras tincidunt lobortis feugiat vivamus. Id cursus metus aliquam eleifend mi in. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Tristique nulla aliquet enim tortor at auctor urna nunc id. Sit amet aliquam id diam maecenas ultricies mi. Hendrerit dolor magna eget est lorem ipsum dolor.
                            
                           <br>Enim ut sem viverra aliquet eget sit. Ultrices sagittis orci a scelerisque purus semper. Dignissim suspendisse in est ante in. Ornare arcu odio ut sem nulla pharetra. Sagittis vitae et leo duis ut diam quam nulla porttitor. Ultrices neque ornare aenean euismod elementum nisi. Velit sed ullamcorper morbi tincidunt ornare. Vitae suscipit tellus mauris a diam maecenas sed. Pellentesque elit eget gravida cum sociis. Sed id semper risus in hendrerit gravida. Commodo viverra maecenas accumsan lacus vel facilisis. Habitant morbi tristique senectus et netus et malesuada. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Eget dolor morbi non arcu risus quis varius quam quisque.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

{% endblock %}
    
