{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}

<body>
   
    <!-- document title -->
    <div class="title_container">

        
        <div class="welcome">
            
            <div class="logo">
                <h1>
                    DENVIE CYBER CAFE
                </h1>
            </div>

            <div class="slogan">
                <h2>
                    Bringing our Cyber World to You
                </h2>
            </div>

            <div class="user_log_buttons">
                <button id="log_btn">
                        {% for log in log %}

                        {{ log }}

                        {% endfor %}
                    
                </button>
            </div>
            <div class="form">
                
                <form action="/register" method="POST" class="popup-form">
                    
                    <input type="text" placeholder="name" name="username" required class="input">
                    <input type="email" placeholder="email" name="email" required class="input">
                    <input type="password" placeholder="password" name="password" required class="input">
                    <input type="password" placeholder="confirm password" name="confirm_password" class="input">
                    <div class="form_buttons_container">
        
                        <button class="form_btn">
                            <a href="/registration/">
                                register
                            </a>
                        </button>

                        <input type="submit" value="login" class="form_btn">
                        
                        <button id="close_form" class="form_btn">
                            cancle
                        </button>

                    </div>
                    
                </form>
            </div>

        </div>

    </div>

    <div class="about_us_container">

        <div class="our_vision_container" id="our_vision_container">
            <h2>
                OUR VISION
            </h2>
            <P>
                Our vision is to provide industry leading customer service.
            </P>
        </div>

        <div class="our_mission_container" id="our_mission_container">
            <h2>
                OUR MISSION
            </h2>
            <p>
                We are committed to creating an ecosystem uniting software, education, and community to help businesses grow with a conscience and succeed with a soul.
            </p>
        </div>

    </div>

    <div class="marketing_container" id="services">
        
        <div class="our_services_container">

            <div class="cafe_services">

                <ul>
                    <li>
                        <div class="service_icon">
                            <img src="" alt="service_icon">
                        </div>

                        <div class="service_text">
                            <p>
                                Printing, typing, online applications ect.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="service_icon">
                            <img src="" alt="service_icon">
                        </div>

                        <div class="service_text">
                            <p>
                                computer training cources.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="service_icon">
                            <img src="" alt="service_icon">
                        </div>

                        <div class="service_text">
                            <p>
                                IT support
                            </p>
                        </div>
                    </li>
                </ul>
                
            </div>


        </div>
        
        <div class="more_infomation_container">
            <div class="service_reviews">

            </div>
        </div>

    </div>

    <footer>

        <div class="footer">
            <ul>
                <li>
                    <a href=""><img src="" alt="icon"></a>
                </li>
                <li>
                    <a href=""><img src="" alt="icon"></a>
                </li>
                <li>
                    <a href=""><img src="" alt="icon"></a>
                </li>
            </ul>
        </div>

    </footer>
</body>

{% endblock %}
    
