{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}

<body>
   
    <!-- document title -->
    <div class="title_container">

        
        <div class="welcome">
            
            <div class="logo">
                <h1>
                    DENVIE CYBER CAFE
                </h1>
            </div>

            <div class="slogan">
                <h2>
                    Bringing our Cyber World to You
                </h2>
            </div>

            <div class="user_log_buttons">
                <a href="javascript:void(0)" id="log_btn">
                        {% for log in log %}

                        {{ log }}

                        {% endfor %}
                    
                </a>
            </div>
            <div class="form">
                
                <form action="/register" method="POST" class="popup-form">
                    
                    <input type="text" placeholder="name" name="username" required class="input">
                    <input type="email" placeholder="email" name="email" required class="input">
                    <input type="password" placeholder="password" name="password" required class="input">
                    <input type="password" placeholder="confirm password" name="confirm_password" class="input">
                    <div class="form_buttons_container">
    
                        <input type="submit" value="login" class="form_btn">

                        <button class="form_btn">
                            <a href="/registration/">
                                register
                            </a>
                        </button>

                        <button id="close_form" class="form_btn">
                            cancle
                        </button>

                    </div>
                    
                </form>
            </div>

        </div>

    </div>

    <div class="about_us_container">

        <div class="vision_mission_container">

            <div class="about-us-information_container" id="our_vision_container">
                <div class="about_us_cards">
                    <h2>
                        OUR VISION
                    </h2>
                    <P>
                        Our vision is to provide industry leading customer service.
                    </P>
                </div>
            </div>

            <div class="about-us-information_container" id="our_mission_container">
                <div class="about_us_cards">
                    <h2>
                        OUR MISSION
                    </h2>
                    <p>
                        We are committed to creating an ecosystem uniting software, education, and community to help businesses grow with a conscience and succeed with a soul.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="marketing_container" id="services">
        
        <div class="our_services_container">

            <div class="cafe_services">

                <ul>
                    <!-- tying -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="typing_icon" class="material-symbols-outlined">
                                keyboard_alt
                            </a>
                        </div>

                        <div class="service_text" id="typing_form">
                            <div class="service_form">
                                <button id="close_typing_form">
                                    x
                                </button>
                                <div class="btns">
                                    <button onclick="assignment_form(document.getElementById('more_info_container'))">assignment</button>
                                    <button onclick="constitution_form(document.getElementById('more_info_container'))">constitution</button>
                                    <button onclick="resume_form(document.getElementById('more_info_container'))">resume</button>
                                    <button onclick="QuotationInvoice_form(document.getElementById('more_info_container'))">Quotation/Invoice</button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- it support -->
                    <li>
                        <div class="service_icon" >
                            <a href="javascript:void(0)" id="support_icon" class="material-symbols-outlined">
                                support_agent
                            </a>
                        </div>

                        <div class="service_text" id="support_form">
                            <form action="/submit_it_support/" method="POST" class="service_form">
                                <button id="close_support_form">
                                    x
                                </button>
                                <select type="text">
                                    <option value="nort"></option>
                                    <option value="threat_protection">threat protection</option>
                                    <option value="drivers">drivers</option>
                                    <option value="os_installation">os installation</option>
                                    <option value="office_installation">ms office</option>
                                    <option value="pwd_rest">pwd reset</option>
                                    <option value="performance_review">performance review</option>
                                </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                    <!-- online services -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="connectivity_icon" class="material-symbols-outlined">
                                signal_wifi_bad
                            </a>
                        </div>

                        <div class="service_text" id="connectivity_form">
                            <form action="/submit_online_service/" method="POST" class="service_form">
                                <button id="close_connectivity_form">
                                    x
                                </button>
                                <select type="text">
                                    <option value="nort"></option>
                                    <option value="psira_application">psira application & renewal</option>
                                    <option value="sassa_application">sassa application</option>
                                    <option value="school_application">school aplication</option>
                                    <option value="university_application">university application</option>
                                    <option value="sars_efiling">sars efiling</option>
                                </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                    <!-- computer booking -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="computer_icon" class="material-symbols-outlined">
                                computer
                            </a>
                        </div>

                        <div class="service_text" id="computer_form">
                            <form action="/submit_computer_booking/" method="POST" class="service_form">
                                <button id="close_computer_form">
                                    x
                                </button>
                                <select type="text">
                                </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                    <!-- scanning printing & photo copies -->
                    <li>
                        <div class="service_icon">
                            <a href="javascript:void(0)" id="print_icon" class="material-symbols-outlined">
                                print
                            </a>
                        </div>

                        <div class="service_text" id="print_form">
                            <form action="/submit_printer_service/" method="POST" class="service_form">
                                <button id="close_print_form">
                                    x
                                </button>
                                <select type="text">
                                    <option value="nort"></option>
                                    <option value="print">print</option>
                                    </select>
                                <input type="submit">
                            </form>
                        </div>
                    </li>

                </ul>
                
            </div>
            
            <div class="more_infomation_container" id="more_info_container">
                <div class="service_reviews">
                    <p>service reviews</p>
                </div>
            </div>

        </div>
    </div>

</body>

{% endblock %}
    
